<header class="header">
  <a href="./" class="logo">
    <img src="../public/imgs/logo.png" alt="Logo" />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>  
  <ul class="menu">  
    <% if (req.session.user && req.session.roles.includes('DIVA administrador')) { %>
      <li>
        <a class="menu-item" href="/obras"> Obras </a> 
      </li>
    <% } %>

    <% if (req.session.user && req.session.roles.includes('DIVA')) { %> 
      <li>
        <a class="menu-item" href="/mis-obras"> Mis Obras </a> 
      </li>
    <% } %>

    <% if (req.session.user && req.session.roles.includes('Ventanilla')) { %>  
      <li>
        <a class="menu-item" href="/ventanilla-unica"> Ventanilla Unica </a> 
      </li>
      <li>
        <a class="menu-item" href="/listar-obras-ventanilla"> Listar Obras </a> 
      </li>
    <% } %> 

    <% if (req.session.user && req.session.roles.includes('AVANCE')) { %>  
      <li>
        <a class="menu-item" href="/avance"> Avance </a> 
      </li>
      <li>
        <a class="menu-item" href="/graficas"> Graficas </a> 
      </li>
    <% } %> 
    <% if (req.session.user && req.session.roles.includes('Admin AVANCE')) { %>  
      <li>
        <a class="menu-item" href="/editar-avance"> Editar Avance </a> 
      </li>
    <% } %>
    <% if (req.session.user && req.session.roles.includes('Residente')) { %>  
      <li>
        <a class="menu-item" href="/residentes"> Residentes </a> 
      </li>
    <% } %>
    <% if (req.session.user && req.session.roles.includes('Super Admin')) { %>  
      <li>
        <a class="menu-item" href="/super-admin"> Super Admin </a> 
      </li>
    <% } %>
    <li>
      <a class="menu-item" href="/logout"> Cerrar Sesión </a>
    </li>
  </ul>
</header>