body {
  margin: 0;
  background-color: #fafff9;
  font-family: "Ubuntu", sans-serif;
}

.col-md-4 img { 
  max-width: 100%;
  height: auto;
}

.title {
  color: #630d0d;
  font-size: 50px;
  font-weight: 900;
}
form {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 17px 26px -8px rgba(151, 172, 193, 0.6);
}
.custom_table {
  background-color: #fff;
  box-shadow: 0px 2px 97px 7px rgba(151, 172, 193, 0.6);
  border-radius: 5px;
}
.container {
  min-width: 95% !important;
  margin: 0 auto;
}

.checkboxa {
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 20px; /* Ajusta el tamaño según sea necesario */
}

/* Centrar los checkboxes en las celdas de la tabla */
td {
  text-align: center;
}

tr {
  text-align: center;
}

.checkboxa:checked {
  accent-color: green;
}


  /* Ocultar el checkbox real */
  .checkbox {
    display: none;
  }

  /* Estilos para el label que actúa como checkbox */
  .checkbox + label {
    display: inline-block;
    width: 20px;        /* Ancho del checkbox */
    height: 20px;       /* Alto del checkbox */
    border-radius: 4px;
    position: relative;
    cursor: pointer;
  }

  /* Pseudo-elemento para la palomita */
  .checkbox:checked + label::before {
    content: "✓";           /* Palomita */
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    background-color: green; /* Fondo verde */
    width: 100%;              /* Llenar el contenedor */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  tbody, td, tfoot, th, tr {
    border-color: initial;
    border-style: solid;
    border-width: 0;
}


table tr:first-child {
  color: #fff;
  background-color: #f00;
}
.content .form-label {
  font-weight: bold;
}


/* Estilos para la tabla */
.table {
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar el desbordamiento para que las sombras se vean bien */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold; /* Encabezado en negrita */
}

#informacionObra .card-header {
  background-color: #007bff; /* Color de fondo del encabezado */
  color: white;
  font-weight: bold;
}

#informacionObra .list-group-item {
  font-size: 1rem; 
}

#informacionObra h2 {
  margin-bottom: 0; 
}






