<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../includes/head') %>
    <title>Registro de Visitantes</title>
    <style>
        .container {
            margin-top: 80px !important;
        }
        /* Ajuste para el ancho de las cajas de texto */
        .form-control {
            width: 100%;
        }
        /* Espacio para el icono */
        .input-group-text {
            width: 40px; /* Ajusta el ancho según sea necesario */
            justify-content: center; /* Centrar el icono */
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <%- include('../includes/header', { req: req }) %>

    <div class="container">
        <h1>Registro de Visitantes</h1>
        <form id="registroVisitantesForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombre" class="form-label">Nombre*</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="municipio" class="form-label">Municipio*</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        <input type="text" class="form-control" id="municipio" name="municipio" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="dependencia" class="form-label">Dependencia (Opcional)</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-building"></i></span>
                        <input type="text" class="form-control" id="dependencia" name="dependencia">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="telefono" class="form-label">Teléfono*</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="tel" class="form-control" id="telefono" name="telefono" maxlength="10" pattern="[0-9]{10}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email (Opcional)</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="a_quien_visita" class="form-label">Persona o Area que Visita*</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                        <input type="text" class="form-control" id="a_quien_visita" name="a_quien_visita" required>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="motivo" class="form-label">Motivo (Opcional)</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-question"></i></span>
                    <input type="text" class="form-control" id="motivo" name="motivo">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <%- include('../includes/scripts') %>
    <script>
        document.getElementById('registroVisitantesForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            fetch('/visitantes', {
                method: 'POST',
                body: new URLSearchParams(formData)
            })
            .then(response => {
                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Registro guardado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.reset();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al guardar el registro',
                        text: 'Por favor, inténtalo de nuevo más tarde.'
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error al guardar el registro',
                    text: 'Ocurrió un error inesperado. Por favor, inténtalo de nuevo más tarde.'
                });
            });
        });
    </script>
</body>
</html>